<div align="center">
<div id="div1">
  <label for="text-user" style="color: #cbd9de;">User:</label>
  <input id="text-user" type="text"
         data-bind="ojComponent: {component: 'ojInputText', value: username, required:true, invalidComponentTracker: tracker}"/>

  <label for="text-password"style="color: #cbd9de;">Password:</label>
  <input id="text-password" type="password"
         data-bind="ojComponent: {component: 'ojInputPassword', value: password, required:true, invalidComponentTracker: tracker}"/>

  <br/><br/>
  <input id="submit" type="submit" data-bind="click: submitBt, 
        ojComponent: {component: 'ojButton', label: 'Login'}"/>
  <!-- <span class="oj-label">Submitted value is: </span>
  <span data-bind="text: submittedValue"></span> -->
</div>
</div>
