'''This is the View for the project'''

<html>
<head>
  <title>
    flask analytics
  </title>
</head>
<body>
  <script>
    var a=window.performance.timing,
    interactive=a.domInteractive - a.domLoading,
    dcl=a.domContentLoadedEventStart - a.domLoading,
    complete=a.domComplete - a.domLoading,
    dns=a.domainLookupEnd - a.domainLookupStart,
    tcp=a.connectEnd - a.connectStart,
    ttfb=a.responseStart - a.navigationStart;
    textContent='ttfb :'+ttfb+ 'ms , interactive: ' + interactive + 'ms, ' + 'DOM content loaded: ' + dcl + 'ms, DOM complete: '
    + complete + 'ms , dns :'+dns + 'ms , tcp: '+ tcp+ 'ms';

    console.log(textContent)
  </script>
</body>
</html>
