'''Local time and Time Zone for the user'''
<html>
	<head>
		<script
			  src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous">
		</script>
		<script type="text/javascript">
			var server = "http://127.0.0.1:5000";

			var now = new Date();
			var loc = {'time':[]};
			function local_time()
			{
				var now = new Date();
				loc['time'] = now;
				console.log(now);
			}

			$( function() {
					$( "#time" ).click(function() {
						var appdir='/loc';
						var send_msg = "<p>Sending request</p>";
						var received_msg = "<p>Local Time is- </p>";
						local_time();
						// console.log(received_msg);
						$('#message').html(send_msg);
						$.ajax({
	  						type: "POST",
	  						url:server+appdir,
	  						data: JSON.stringify(loc),
	  						dataType: 'json'
						}).done(function(data) {
							console.log(data);
							$('#n3').val(data['time']);
							$('#message').html(received_msg+data['time']);
						});
					});
	  			});

					const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
					var tzone = {'zone':[]}
					function time_zone()
					{
						const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
						tzone['zone'] = timezone;
						console.log(timezone)
					}
					$( function() {
							$( "#zone" ).click(function() {
								var appdir='/zone';
								var send_msg = "<p>Sending request</p>";
								var received_msg = "<p>Time zone is- </p>";
								time_zone();
								console.log("hello");
								$('#message1').html(send_msg);
								$.ajax({
										type: "POST",
										url:server+appdir,
										data: JSON.stringify(tzone),
										dataType: 'json'
								}).done(function(data) {
									console.log(data);
									$('#n3').val(data['zone']);
									$('#message1').html(received_msg+data['zone']);
								});
							});
							});

		</script>
	</head>
	<body>
		<div>
			<div id="time" style="background-color:gray; width:100px; color:white;">
				Check local time-
			</div>
			<div id="message">
			</div>
		</div>

		<div>
			<div id="zone" style="background-color:black; width:100px; color:white;">
				Check time zone
			</div>
			<div id="message1">
			</div>
		</div>
	</body>
</html>
